.room-view
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-button
{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
    span
    {
        font-size: 1rem;
        font-family: fontawesome;
    }
}

.chat-output
{
    overflow: scroll;
    height: 50vh;
    background-color: black;
}

.send-message-container
{
    display: flex;
    width: 100%;
    #send-button
    {
        background-color: black;
        color: white;
        outline: none;
        border-left: 1px solid white;
        outline: none;
    }
    .fa-paper-plane
    {
        font-family: fontawesome;
        padding: 10px;
        font-size: 1.3rem;
    }
}

input
{
    outline: none;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    flex-grow: 1;
}

.playlist
{
    .playlist-item
    {
        display: inline-flex;
        max-width: 150px;
        margin-right: 15px;
        background-color: black;
        span
        {
            font-family: fontawesome;
            color: white;
        }
    }
}

.add-video-url-container
{
    display: flex;
    button
    {
        background-color: black;
        color: white;
        outline: none;
        border-left: 1px solid white;
        outline: none;
        padding: 10px 20px;
        span
        {
            font-size: 1.3rem;
            font-family: fontawesome;
        }
    }
}
