.join-button
{
    border-radius: 2px;
    border: 2px solid white;
    padding: 20px;
    position: absolute;
    background-color: rgb(53, 53, 53);
    top: 50%;
    &:hover
    {
        transition: 0.3s;
        cursor: pointer;
        background-color: transparent;
    }
}
.brand
{
    padding: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0.9;
    top: 10px;
    background-color:rgb(53, 53, 53);
    text-align: center;
    .brand-icon
    {
        font-family: fontawesome;
        margin-right: 10px;
    }
}
.start-page
{
    background-image: url('../../../assets/images/mountains-1412683.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.description-container
{
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    h2
    {
        font-size: 4rem;
        font-weight: bold;
    }
}
@media (max-width: 575.98px)
{
    .join-button
    {
       top:30% !important;
    }
    .description-container
    {
        top: 40% !important;
        h2
        {
            font-size: 3rem !important;
        }
    }
}
.main-container
{
    height: 100vh;
}
