.join-button
{
    border-radius: 2px;
    border: 2px solid white;
    padding: 20px;
    position: absolute;
    background-color: rgb(53, 53, 53);
    top: 50%;
    &:hover
    {
        transition: 0.3s;
        cursor: pointer;
        background-color: transparent;
    }
}
.start-page
{
    background-image: url('../../../assets/images/mountains-1412683.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 575.98px)
{
    .legal{
        display: flex;
        justify-content: center;
    }
}
.legal
{
    span
    {
        padding: 10px;
        font-size: 1.3rem;
        float: right;
    }
}
.footer
{
    height: 10vh;
}
.main-container
{
    height: 90vh;
}
.donate
{
    font-size: 2rem;
    font-family: fontawesome;
    color: beige;
}